
/* @font-face {
  font-family: 'Josefine Sans';
  src:  
       url('/public/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('woff');
       }

* {
  font-family: 'Josefine Sans', sans-serif !important;
  font-style: normal;
} */

body {
  background-color: #FFF !important;
}

.grad {
  background-image: url(/public/stacked.svg);
 padding-top: 40px;
}

.chekout {
  background-image: url(/public/cake.jpeg);
  background-size: cover;
}


img {
  transition: transform 0.3s; /* Add a smooth transition effect */
}

img:hover {
  transform: scale(1.1); /* Increase the scale on hover */
}




.parallax {
  overflow: hidden;
  white-space: nowrap;  
}

.parallax .scroller {
  font-family:  Ubuntu, sans-serif;
  display: flex;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

