body {
  background-color: #FFFBE7 !important;
}
button {
  text-transform: none !important;
}
.banner {
  position: relative;
  background-image: url(/public/family\(2\).png);
  height: 100vh;
  z-index: -1;
  background-repeat: no-repeat;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1813136b; 
  /* z-index: 0;  */
   z-index: -1;
}

.banner1{
  background-image: url(/public/pud2.jpg);
  background-size: cover;
 height: 100vh;
  z-index: -1;
  position: relative;
  background-repeat: no-repeat;
}
.banner1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1813136b; 
  /* z-index: 0;  */
   z-index: -1;
}
.banner2{
  background-image: url(/public/father.png);
    background-size: cover;
    z-index: -1;
 height: 100vh;
  position: relative;
  background-repeat: no-repeat;
}
.banner2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1813136b; 
  /* z-index: 0;  */
   z-index: -1;
}
.banner3{
  background-image: url(/public/farm.jpg);
  background-size: cover;
 height: 100vh;
  z-index: -1;
  position: relative;
  background-repeat: no-repeat;
}
.banner3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1813136b; 
  /* z-index: 0;  */
   z-index: -1;
}

.Shop a{
  text-decoration: none;
  color: rgb(44, 43, 43);
}

@media screen and (max-width: 767px) {
  .banner{
  background-size: cover;
  height: 70vh;
   background-repeat: no-repeat;
}

.banner1{
  background-size: cover;
  height: 70vh;
   background-repeat: no-repeat;
}
.banner2{
  background-size: cover;
  height: 70vh;
   background-repeat: no-repeat;
}
.banner3{
  background-size: cover;
  height: 70vh;
   background-repeat: no-repeat;
}

}

/*  */
#progress {
  position: fixed;
  top: 20px;
  left: 20px;
  transform: rotate(-90deg);
}
circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
}


.list {
  display: flex;
  list-style: none;
  /* height: 350px; */
  overflow-x: scroll;
  padding: 20px 0;
  flex: 0 0 600px;
  margin: 0 auto;
}

li {
  flex: 0 0 300px;
  background: var(--accent);
  margin: 0 20px 0 0;
}

li:last-of-type {
  margin: 0;
}


